@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

header{
	z-index: 999;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 100px;
	transition: 0.5s ease;
}

header .title{
	color: rgb(235, 129, 37);
	font-size: large;
	
}

header .nav{
	position: relative;
}

header .nav .nav-items a{
	position: relative;
	color: rgb(233, 233, 233);
	font-size:medium;
	text-decoration: none;
	font-weight: 500;
	transition: 0.3s ease;
	margin-left: 30px;
	color: #ffffff;
}

header .nav .nav-items a:hover{
	border-radius: 100px;
	background-image: linear-gradient(
			rgb(255, 195, 110),
			rgb(255, 146, 91));
	padding: 12px 30px;
	color: white;
}


section{
	padding: 30px;
}

.home{
	position: absolute;
	width : 100%;
	display: flex;
	
}

.gap{
	margin-left: 10px;
}

.home .content input:hover{
	transform: scale(1.1);
	
}

.road{
	margin-bottom: 200px;
}

video{
	z-index: 000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content{
	position: fixed;
}

.head{
	color: rgb(235, 129, 37);
	position: relative;
	margin-left: 600px;
	margin-top: 200px;
	font-size: 2.5em;
	font-weight: bold;
}

body{
	position:relative;
	padding: 200px 600px;
	
}

.sidebar{
	height: 450px;
	width: 250px;
	top: 0;
	left :0;
	padding: 1px 64px;
	position: relative;
	opacity: 0.8;
	backdrop-filter: blur(10px);

}

.sidebar .logo_content .logo{
	color: rgb(255, 255, 255);
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
}

.logo_content .logo i{
	font-size: 20px;
	margin-right: 5px;
}

.logo_content .logo .logo_name{
	font-size: 20px;
	font-weight: 400;
}

.sidebar #btn{
	position: absolute;
	color: #000;
	left: 1370px;
	top: 32px;
	font-size: 20px;
	transform: translateX(-50%);
	cursor: pointer;
}

.sidebar ul{
	margin-top: 40px;
}

.sidebar ul li{
	height:60px;
	list-style: none;
}

.sidebar ul li a{
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
	border-radius: 12px;
}

.sidebar ul li a:hover{
	border-radius: 50px;
	background-image: linear-gradient(
			rgb(255, 195, 110),
			rgb(255, 146, 91));
	padding: 10px 10px;
}

.sidebar ul li a i{
	height: 15px;
	min-width: 30px;
}

.sidebar input{
	position: absolute;
	height: 30px;
	width: 200px;
	left: 10px;
	border-radius: 100px;
	padding: 20px 60px;
	outline: #000;
	font-size: 15px;
	margin-top: 10px;
	
}

.sidebar a i{
	color: #000;
}

header .bx-search{
	position: absolute;
	z-index: 99;
	color: #000;
	margin-left: 35px;
	margin-top: 24px;
}

.home_content{
	position: absolute;
	height: 100%;
	width: calc(100% - 240px);
	left: 270px;
	margin-top: 0;
	top: 12%;
}

.home_content .text{
	font-size: 25px;
	font-weight: 500;
	margin: 12px;
}



